.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  position: absolute;
  right: 0;
}

.Layout {
  padding: 20px;
}

.Layout nav {
  width: 100%;
  text-align: center;
  margin: 1em;
}

.Layout nav span {
  margin: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
